.wrapper {
  display: flex;
  flex-direction: column;
}

.heroWrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  background-image: url("../assets/images/covid.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fa4e90;
  color: #fff;
  font-size: 18px;
  height: 60px;
}

.row h5 {
  font-size: 22px;
}

.row:nth-child(odd) {
  background: #d7447d;
}

.heroPopulation {
  font-size: 23px;
}

.heroCountry {
  font-size: 30px;
}

.heroPopulation,
.heroCountry {
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .heroWrapper {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    background-image: url("../assets/images/covid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: #fff;
  }
  
  .flagImg {
    min-height: 180px;
    max-width: 300px;
  }
}

.flagWrapper {
  display: flex;
}

.flagImg {
  width: 40vw;
  height: 125px;
}
