.continentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  background: #f5498b;
}

.continentWrapper:nth-child(3n+0),
.continentWrapper:nth-child(2) {
  background: #d7447d;
}

.continentImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.continentInfo {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.heroTitle,
.heroStats {
  width: min-content;
  margin: 0;
}

.arrowRight {
  position: absolute;
  font-size: 20px;
  margin-top: 2vw;
  color: #fff;
}
