.nav {
  color: #fff;
  background: #fa4e90;
}

.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 50px;
  margin: 0 15px;
  padding: 0;
}

#title {
  font-size: 23px;
}

.icon {
  width: 22px;
  height: 22px;
}

.navItems :nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}

.navItems :nth-child(3) {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}
