@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif;
}
